@use "../abstracts";

.contact-us-section {
    padding: 100px 0 150px;

    @include abstracts.screen(md) {
        padding: 40px 0 50px;
    }

    &__subtitle {
        @include abstracts.screen(md) {
            font-size: 1rem;
            line-height: 1.5;
        }
    }

    &__heading {
        width: 670px;
        max-width: 100%;
        margin-top: 12px;

        @include abstracts.screen(md) {
            margin-top: 5px;
            font-size: 2.1rem;
            line-height: 1.2381;
        }
    }

    &__description {
        width: 530px;
        max-width: 100%;
        margin-top: 20px;
        letter-spacing: -0.16px;

        @include abstracts.screen(md) {
            margin-top: 10px;
            font-size: 1rem;
            line-height: 1.6;
            letter-spacing: -0.1px;
        }
    }

    .contact-form__footer {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 60px;
    }

    &__form {
        margin-top: 40px;
    }

    
}