<!-- ================= Footer ================= -->
<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="row">
        <div class="col-2 col-xl-4 col-md-6 col-sm-12 gy-3">
          <h3 class="footer__heading">Justice</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#!" class="footer__link">Privacy Policy</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Terms & Conditions</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Cookie Preferences</a>
            </li>
          </ul>
        </div>
        <div class="col-2 col-xl-4 col-md-6 col-sm-12 gy-3">
          <h3 class="footer__heading">Pages</h3>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="../index.html" class="footer__link">Home</a>
            </li>
            <li class="footer__item">
              <a href="../about.html" class="footer__link">About</a>
            </li>
            <li class="footer__item">
              <a href="../practice.html" class="footer__link">Practice Areas</a>
            </li>
            <li class="footer__item">
              <a href="../attorneys.html" class="footer__link">Attorneys</a>
            </li>
          </ul>
        </div>
        <div class="col-3 col-xl-4 col-md-6 col-sm-12 gy-3">
          <h3 class="footer__heading">Justice</h3>
          <div class="footer__contact">
            <p class="footer__address">
              50 Harrison Street, PH Suite 445 Hoboken, NJ 07030
            </p>
            <a href="tel:1234567" class="footer__address">(000) 123-4567</a>
            <a href="mailto:yourlawfirm22@gmail.com" class="footer__address"
              >yourlawfirm22@gmail.com</a
            >
          </div>
        </div>
        <div class="col-5 col-xl-12 col-md-6 col-sm-12 gy-3">
          <div class="footer__map">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3588.9028857533976!2d105.99452097113168!3d10.235665190566937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1svi!2s!4v1751299979336!5m2!1svi!2s"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <a href="/" class="logo">
        <img
          src="./assets/img/logo-justice.svg"
          alt=""
          class="logo__img footer__logo-img"
        />
        <!-- <div class="logo__text">
                    <p class="logo__text--large">Justice</p>
                    <p class="logo__text--small">Law Firm</p>
                </div> -->
      </a>
      <div class="footer__bottom-row">
        <p class="footer__copyright">
          Copyright © 2022 UI HUT All Rights Reserved
        </p>

        <div class="footer__socials">
          <a href="#!" class="footer__social-link">
            <img
              src="./assets/icon/facebook.svg"
              alt=""
              class="footer__social-icon"
            />
          </a>

          <a href="#!" class="footer__social-link">
            <img
              src="./assets/icon/linkedin.svg"
              alt=""
              class="footer__social-icon"
            />
          </a>
          <a href="#!" class="footer__social-link">
            <img
              src="./assets/icon/twitter.svg"
              alt=""
              class="footer__social-icon"
            />
          </a>

          <a href="#!" class="footer__social-link">
            <img
              src="./assets/icon/instagram.svg"
              alt=""
              class="footer__social-icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
