<header class="header">
  <div class="container">
    <div class="top-bar">
      <!-- Logo -->
      <a href="./" class="logo d-lg-none">
        <img src="./assets/img/logo-justice.svg" alt="" class="logo__img" />
      </a>
      <!-- menu-toogle -->
      <input type="checkbox" class="menu-toggle-input" id="menu-toggle" hidden/>
      <label for="menu-toggle" class="menu-toggle-label">
        <i class="fa-solid fa-bars d-none d-lg-block"></i>
      </label>
      <!-- navbar -->
      <nav class="navbar">
        <ul class="navbar__list">
          <li class="navbar__item">
            <a href="./" class="navbar__link"
              >Home<img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar__icon"
              />
            </a>
          </li>
          <li class="navbar__item">
            <a href="./about.html" class="navbar__link">
              About
              <img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar__icon"
              />
            </a>
          </li>
          <li class="navbar__item">
            <a href="./practice.html" class="navbar__link">
              Practice Areas
              <img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar__icon"
              />
            </a>
            <ul class="sub-menu">
              <li class="sub-menu__item">
                <a href="../practice.html" class="sub-menu__link">
                  Divorce
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="../practice.html" class="sub-menu__link">
                  Personal Injury
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="../practice.html" class="sub-menu__link">
                  Employment
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="../practice.html" class="sub-menu__link">
                  Immigration
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="../practice.html" class="sub-menu__link">
                  Family
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="../practice.html" class="sub-menu__link">
                  Property
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
            </ul>
          </li>

          <li class="navbar__item">
            <a href="./attorneys.html" class="navbar__link"> Attorneys </a>
          </li>
          <li class="navbar__item">
            <a href="#!" class="navbar__link">
              Page
              <img
                src="./assets/icon/arrow-down.svg"
                alt=""
                class="icon navbar__icon"
              />
            </a>

            <ul class="sub-menu">
              <li class="sub-menu__item">
                <a href="./blog.html" class="sub-menu__link">
                  Blog
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="./contact.html" class="sub-menu__link">
                  Contact
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="#!" class="sub-menu__link">
                  FAQ
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="./404.html" class="sub-menu__link">
                  404
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
              <li class="sub-menu__item">
                <a href="./coming-soon.html" class="sub-menu__link">
                  Coming Soon
                  <img
                    src="./assets/icon/arrow-down.svg"
                    alt=""
                    class="icon sub-menu__icon"
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="top-bar__cta">
        <span class="top-bar__cta-text">Call</span>
        <a href="tel:123456789" class="top-bar__cta-tel">(000) 123 456 789</a>
      </div>
    </div>
  </div>
</header>
