<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Justice</title>

    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <main>
      <section class="page-title">
        <div class="container">
          <div class="page-title__inner">
            <h1 class="heading-primary">About Us</h1>
          </div>
        </div>
      </section>

      <!-- Corelaw -->
      <section class="about__section">
        <div class="container">
          <div class="row row-cols-2 row-cols-md-1 gy-lg-3">
            <div class="col">
              <div class="about-section__content">
                <h2 class="heading-secondary about__section-heading">
                  About Corelaw
                </h2>
                <p class="description about__section__description">
                  In consequat tincidunt turpis sit amet imperdiet. Praesent
                  Class officelan nonatoureanor mauris laoreet, iaculis libero
                  quis.Curabitur et tempus eri consequat tincidunt turpis sit
                  amet imperdiet. Praesent nonatourean olei aptent taciti
                  sociosqu ad litora torquent per.
                </p>
                <div>
                  <a
                    href="#!"
                    class="button button--primary about__section__button"
                    >More Details</a
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <div class="about__section__media">
                <img
                  src="./assets/img/img-about-corelaw.png"
                  alt="Image representing Corelaw"
                  class="about__section__image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Corelaw End -->

      <!-- Statistics -->
      <section class="statistics-section">
        <div class="container">
          <div class="statistics-section__inner">
            <div class="row row-cols-4 row-cols-lg-2 row-cols-md-1 gy-3">
              <div class="col">
                <div class="statistic-item">
                  <span class="statistic-item__quantity num" data-val="150"
                    >150</span
                  >
                  <span class="statistic-item__label">Expert Attorneys</span>
                </div>
              </div>
              <div class="col">
                <div class="statistic-item">
                  <span class="statistic-item__quantity num" data-val="250"
                    >250</span
                  >
                  <span class="statistic-item__label">Happy Clients</span>
                </div>
              </div>
              <div class="col">
                <div class="statistic-item">
                  <span class="statistic-item__quantity num" data-val="50"
                    >50</span
                  >
                  <span class="statistic-item__label">Cases Completed</span>
                </div>
              </div>
              <div class="col">
                <div class="statistic-item">
                  <span class="statistic-item__quantity num" data-val="28"
                    >28</span
                  >
                  <span class="statistic-item__label">Cases Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Statistics Section End -->

      <!-- Experience -->
      <section class="experience-section">
        <div class="container">
          <div class="row row-cols-2 row-cols-md-1 gy-3">
            <div class="col">
              <div class="experience-section__media">
                <img
                  src="./assets/img/about-best-experiences.png"
                  alt="Image showcasing best experiences"
                  class="experience-section__image"
                />
              </div>
            </div>
            <div class="col">
              <div class="experience-section__content">
                <p class="sub-title experience-section__subtitle">
                  Best Experience
                </p>
                <h2 class="heading-secondary experience-section__heading">
                  Find Out What We Actually Do For Giving Complete Solutions.
                </h2>
                <p class="description experience-section__description">
                  In consequat tincidunt turpis sit amet imperdiet. Praesent
                  ouiertdion nonatourei mauris laoreet, iaculis libero
                  quis.Curabitur et tempusoni eros Class offi aptent taciti
                  sociosqu ad litora torquent per.
                </p>
                <div>
                  <a
                    href="#!"
                    class="button button--primary experience-section__button"
                    >More Details</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Experience End -->
      <!-- Contact Us -->
      <section class="contact-section">
        <div class="container">
          <div class="contact-section__inner">
            <div class="contact-section__header">
              <p class="sub-title contact-section__subtitle">Contact Us</p>
              <h2 class="heading-secondary contact-section__heading">
                We Are Always Ready To Hear From You.
              </h2>
              <p class="description contact-section__description">
                The right move at the right time saves your investment. Live the
                dream of expanding your business.
              </p>
            </div>
            <form action="" class="contact-form">
              <div class="form__row">
                <div class="form__group">
                  <div class="form__text-input">
                    <input
                      type="text"
                      placeholder="Enter your name"
                      class="form__input"
                      aria-label="Enter your name"
                    />
                  </div>
                </div>
                <div class="form__group">
                  <div class="form__text-input">
                    <input
                      type="text"
                      placeholder="Company (optional)"
                      class="form__input"
                      aria-label="Company (optional)"
                    />
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="form__group">
                  <div class="form__text-input">
                    <input
                      type="email"
                      placeholder="Your email"
                      class="form__input"
                      aria-label="Your email"
                    />
                  </div>
                </div>
                <div class="form__group">
                  <div class="form__text-input">
                    <input
                      type="tel"
                      placeholder="Phone number"
                      class="form__input"
                      aria-label="Phone number"
                    />
                  </div>
                </div>
              </div>
              <div class="form__group">
                <div class="form__text-area">
                  <textarea
                    placeholder="Tell us about yourself"
                    class="form__text-area-input"
                    aria-label="Tell us about yourself"
                  ></textarea>
                </div>
              </div>

              <div class="contact-form__footer">
                <button type="submit" class="button button--primary">
                  Contact us
                </button>
                <p>
                  By clicking the contact us button, you agree to our terms and
                  policy.
                </p>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- Contact End -->

      <!-- Our Attorneys -->
      <section class="attorneys-section">
        <div class="container">
          <div class="attorneys-section__header">
            <p class="sub-title attorneys-section__subtitle">Our Attorneys</p>
            <h2 class="heading-secondary attorneys-section__heading">
              Find Our Intellectual Lawyer For You.
            </h2>
          </div>

          <div class="attorneys-section__list">
            <div
              class="row row-cols-3 row-cols-lg-2 row-cols-sm-1 gx-xl-2 g-md-2"
            >
              <div class="attorney-card">
                <div class="attorney-card__item">
                  <a href="#!" class="attorney-card__image-link">
                    <img
                      src="./assets/img/img-about-attorneys-01.png"
                      alt="Portrait of Henry Jack"
                      class="attorney-card__image"
                    />
                  </a>
                  <div class="attorney-card__info">
                    <h3 class="attorney-card__name">
                      <a href="#!">Henry Jack</a>
                    </h3>
                    <span class="attorney-card__title">Family Lawyer</span>
                  </div>
                </div>
              </div>
              <div class="attorney-card">
                <div class="attorney-card__item">
                  <a href="#!" class="attorney-card__image-link">
                    <img
                      src="./assets/img/img-about-attorneys-02.png"
                      alt="Portrait of Sebistain Bol"
                      class="attorney-card__image"
                    />
                  </a>
                  <div class="attorney-card__info">
                    <h3 class="attorney-card__name">
                      <a href="#!">Sebistain Bol</a>
                    </h3>
                    <span class="attorney-card__title">Family Lawyer</span>
                  </div>
                </div>
              </div>
              <div class="attorney-card">
                <div class="attorney-card__item">
                  <a href="#!" class="attorney-card__image-link">
                    <img
                      src="./assets/img/img-about-attorneys-03.png"
                      alt="Portrait of Josepy David"
                      class="attorney-card__image"
                    />
                  </a>
                  <div class="attorney-card__info">
                    <h3 class="attorney-card__name">
                      <a href="#!">Josepy David</a>
                    </h3>
                    <span class="attorney-card__title">Family Lawyer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Attorneys End -->
    </main>

    <%- include("./partials/footer.ejs") %>

    <script type="module" src="./main.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
