<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - Justice</title>

    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <main>
      <section class="blog-section">
        <div class="container">
          <div class="blog-section__header">
            <h1 class="heading-primary blog-section__heading">
              Latest Stories From Our Blog
            </h1>
            <p class="description blog-section__description">
              Welcome to our monthly roundup of new releases and undisputed
              favorites.
            </p>
          </div>

          <div class="blog-section__posts">
            <div class="row row-cols-3 row-cols-lg-2 row-cols-md-1 g-3 g-xl-2">
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-01.png"
                      alt="Abstract design pattern"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Design Inspiration</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-02.png"
                      alt="Minimalist desk setup with plants"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Creative Workflows</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-03.png"
                      alt="Colorful abstract art"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Future of Tech</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-04.png"
                      alt="Person working on a laptop at a cafe"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Productivity Tips</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-05.png"
                      alt="Books arranged on a shelf"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Reading Recommendations</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-06.png"
                      alt="Urban landscape at sunset"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Travel Photography</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-07.png"
                      alt="Colorful abstract shapes"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Digital Art Trends</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-08.png"
                      alt="Minimalist interior design"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Home Decor Ideas</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
              <div class="blogs-post-card">
                <article class="blogs-post-card__item">
                  <a href="#!" class="blogs-post-card__image-link">
                    <img
                      src="./assets/img/img-blog-story-09.png"
                      alt="Laptop with code on screen"
                      class="blogs-post-card__image"
                    />
                  </a>
                  <div class="blogs-post-card__content">
                    <div class="blogs-post-card__meta">
                      <img
                        src="./assets/icon/calendar.svg"
                        alt="Calendar icon"
                        class="blogs-post-card__meta-icon"
                      />
                      <span class="blogs-post-card__meta-date"
                        >Feb 21 2021</span
                      >
                    </div>
                    <h3 class="blogs-post-card__title">
                      <a href="#!">Web Development Insights</a>
                    </h3>
                    <p class="blogs-post-card__text">
                      Welcome to our monthly roundup of new releases and
                      undisputed favorites.
                    </p>
                    <a href="#!" class="blogs-post-card__read-more-btn"
                      >Read More</a
                    >
                  </div>
                </article>
              </div>
            </div>

            <div class="blog-section__actions">
              <a
                href="#!"
                class="button button--primary blog-section__view-all-btn"
                >Read All Blog Posts</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>

    <script type="module" src="/main.js"></script>
  </body>
</html>
