<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Justice</title>

    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <main>
      <!-- PAge title -->
      <section class="page-title">
        <div class="container">
          <div class="page-title__inner">
            <p class="sub-title page-title__sub-heading">#Practice Areas</p>
            <h1 class="heading-primary page-title__heading">
              Our Practice Areas to Serve You
            </h1>
            <p class="description page-title__description">
              Where every injury is personal. We are a different kind of law
              firm. Let our small, passionate group of trial lawyers fight for
              your rights!
            </p>
          </div>
        </div>
      </section>
      <!-- Page title End -->

      <!-- ================= Practice-Services ================= -->
      <section class="practice-areas-section">
        <div class="container">
          <div class="practice-areas-section__header">
            <p class="sub-title practice-areas-section__subtitle">
              Practice Services
            </p>
            <h2 class="heading-secondary practice-areas-section__heading">
              Our Practice Areas
            </h2>
            <p class="description practice-areas-section__description">
              Our Law Office provides a professional experience for all our
              clients, helping them navigate their legal rights.
            </p>
          </div>

          <div class="practice-areas-section__content">
            <div class="row row-cols-3 row-cols-lg-2 row-cols-md-1 gy-3 g-xl-2">
              <div class="practice-area-card">
                <div class="practice-area-card__item">
                  <a href="#!">
                    <img
                      src="./assets/img/img-practice-01.png"
                      alt="Personal Injury Law"
                      class="practice-area-card__image"
                    />
                  </a>
                  <a
                    href="#!"
                    class="button button--primary practice-area-card__button"
                    >Personal Injury Law</a
                  >
                </div>
              </div>
              <div class="practice-area-card">
                <div class="practice-area-card__item">
                  <a href="#!">
                    <img
                      src="./assets/img/img-practice-02.png"
                      alt="Employment Law"
                      class="practice-area-card__image"
                    />
                  </a>
                  <a
                    href="#!"
                    class="button button--primary practice-area-card__button"
                    >Employment Law</a
                  >
                </div>
              </div>
              <div class="practice-area-card">
                <div class="practice-area-card__item">
                  <a href="#!">
                    <img
                      src="./assets/img/img-practice-03.png"
                      alt="Immigration Law"
                      class="practice-area-card__image"
                    />
                  </a>
                  <a
                    href="#!"
                    class="button button--primary practice-area-card__button"
                    >Immigration Law</a
                  >
                </div>
              </div>
              <div class="practice-area-card">
                <div class="practice-area-card__item">
                  <a href="#!">
                    <img
                      src="./assets/img/img-practice-04.png"
                      alt="Family Law"
                      class="practice-area-card__image"
                    />
                  </a>
                  <a
                    href="#!"
                    class="button button--primary practice-area-card__button"
                    >Family Law</a
                  >
                </div>
              </div>
              <div class="practice-area-card">
                <div class="practice-area-card__item">
                  <a href="#!">
                    <img
                      src="./assets/img/img-practice-05.png"
                      alt="Divorce Law"
                      class="practice-area-card__image"
                    />
                  </a>
                  <a
                    href="#!"
                    class="button button--primary practice-area-card__button"
                    >Divorce Law</a
                  >
                </div>
              </div>
              <div class="practice-area-card">
                <div class="practice-area-card__item">
                  <a href="#!">
                    <img
                      src="./assets/img/img-practice-06.png"
                      alt="Property Law"
                      class="practice-area-card__image"
                    />
                  </a>
                  <a
                    href="#!"
                    class="button button--primary practice-area-card__button"
                    >Property Law</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Practice-Services End -->

      <!-- ================= CTA ================= -->
      <section class="cta">
        <div class="container">
          <div class="cta__inner">
            <p class="sub-title cta__sub-title">#CallToAction</p>
            <h2 class="heading-secondary cta__heading">
              Dealing With an Issue?
            </h2>
            <p class="description cta__description">
              Where every injury is personal. We are a different kind of law
              firm. Let our small, passionate group of trial lawyers fight for
              your rights!
            </p>
            <a href="#!" class="button button--primary cta__button"
              >Get a Consultation</a
            >
          </div>
        </div>
      </section>
      <!-- CTA End -->
    </main>

    <%- include("./partials/footer.ejs") %>

    <script type="module" src="/main.js"></script>
  </body>
</html>
